Repository owncloud/user_ldap, pull requests merged in 2019-06, with the labels that each got.

#426 add emoji group in the ldif file to be imported at start of tests
  tests/acceptance/config/ldap-users.ldif
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#427 Use standalone-chrome-debug:3.141.59-oxygen to get chrome 74
  .drone.yml
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#428 Adjust create user test steps
  tests/acceptance/features/webUIUserLDAP/groupMembership.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#425 Include port only if there is port
  lib/LDAP.php
Labels: 3 - To Review
