Repository owncloud/user_ldap, pull requests merged in 2019-02, with the labels that each got.

#346 Add API provisioning tests for users and groups in ldap
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiProvisioningLDAP/groups.feature
  tests/acceptance/features/apiProvisioningLDAP/users.feature
  tests/acceptance/features/bootstrap/UserLdapGeneralContext.php
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#370 Add webUI test for changing ldap user email
  tests/acceptance/features/webUIProvisioning/users.feature
Labels: 3 - To Review, 4 - To release, QA-team, dev:acceptance-tests

#369 Add remaining core suites in user_ldap for testing
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/config/ldap-users.ldif
Labels: 4 - To release, QA-team, dev:acceptance-tests

#374 tests that demonstrate issue #364
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiUserLDAPSharing/sharingLocalUserLdapUser.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#375 test group filters
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiUserLDAPConnection/groupFilter.feature
  tests/acceptance/features/bootstrap/UserLdapGeneralContext.php
Labels: 4 - To release, QA-team, dev:acceptance-tests

#376 Do not delete COMPOSER_BIN on clean-composer-deps
  Makefile
Labels: 4 - To release, QA-team

#324 Add network timeout
  js/wizard/wizardTabAdvanced.js
  lib/Configuration.php
  lib/Connection.php
  templates/settings.php
Labels: 3 - To Review

#12 Do not return not availlable users
  lib/Group_LDAP.php
Labels: 4 - To release, QA-team
