Repository owncloud/user_ldap, pull requests merged in 2019-11, with the labels that each got.

#464 Add WebDavPropertiesContext to apiWebdavOperations
  tests/acceptance/config/behat.yml
Labels: 4 - To release, QA-team, dev:acceptance-tests

#462 Balance webUI core tests
  tests/acceptance/config/behat.yml
Labels: 4 - To release, QA-team, dev:acceptance-tests

#466 Drone for 0.14.0 branch
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  vendor-bin/php_codesniffer/composer.json
Labels: 3 - To Review, Drone, QA-team

#468 Merge back rebased 0.14.0
  CHANGELOG.md
  appinfo/info.xml
Labels: 3 - To Review

#469 Adjust behat.yml apiVersions due to core 36391
  tests/acceptance/config/behat.yml
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#471 Run core acceptance tests against core latest release nightly
  .drone.starlark
  .drone.yml
Labels: 3 - To Review, Drone, QA-team, dev:acceptance-tests

#472 Implement current drone starlark code
  .drone.starlark
Labels: 3 - To Review, Drone, QA-team

#473 Add drone setup for running tests with ldap and encryption enabled
  .drone.starlark
  .drone.yml
Labels: 4 - To release, Drone

#474 Drop PHP 7.0 from drone CI
  .drone.starlark
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#470 Detect a new DN by UUID attribute
  lib/Access.php
  lib/User/Manager.php
  lib/User_LDAP.php
  tests/unit/User/ManagerTest.php
  tests/unit/User_LDAPTest.php
Labels: 3 - To Review

#476 Fix testCreateWithCopy PHP unit test
  tests/unit/Controller/ConfigurationControllerTest.php
Labels: 3 - To Review, QA-team

#477 Add skipOnEncryption filter tags to pipelines with encryption
  .drone.starlark
  .drone.yml
Labels: 4 - To release, QA-team, dev:acceptance-tests
