Repository owncloud/user_ldap, pull requests merged in 2019-10, with the labels that each got.

#454 Refactor drone yml
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#455 Initial drone starlark
  .drone.starlark
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#458 drone notify on failure
  .drone.starlark
  .drone.yml
Labels: 4 - To release, Drone, QA-team

#459 Avoid php_codesniffer 3.5.1
  vendor-bin/php_codesniffer/composer.json
Labels: 3 - To Review, QA-team

#453 add a catch blog for expected exceptions in password check
  lib/Connection.php
  lib/User/Manager.php
  lib/User_LDAP.php
Labels: 3 - To Review
