Repository owncloud/user_ldap, pull requests merged in 2020-05, with the labels that each got.

#556 Suppress deprecation warnings for php 7.4
  lib/LDAP.php
Labels: 4 - To release

#560 [Tests-Only] Added ldapAttributesForUserSearch in setConfig.sh
  .drone.starlark
  tests/acceptance/features/bootstrap/UserLdapGeneralContext.php
  tests/acceptance/features/cliProvisioning/userSync.feature
  tests/acceptance/setConfig.sh
Labels: 4 - To release, QA-team

#562 User sync with API
  tests/acceptance/features/apiProvisioningLDAP/userSync.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#565 [Tests-Only] Set display name for users in LDAP acceptance tests
  tests/acceptance/features/apiProvisioningLDAP/groups.feature
  tests/acceptance/features/apiProvisioningLDAP/users.feature
  tests/acceptance/features/cliProvisioning/groups.feature
  tests/acceptance/features/cliProvisioning/users.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#564 [Tests-Only] Added test scenarios for single user sync using OCS API
  tests/acceptance/features/apiProvisioningLDAP/userSync.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#567 Format feature files
  tests/acceptance/features/apiProvisioningLDAP/groups.feature
  tests/acceptance/features/apiUserLDAP/backupServerConnection.feature
  tests/acceptance/features/apiUserLDAP/groupFilter.feature
  tests/acceptance/features/apiUserLDAP/moveUser.feature
  tests/acceptance/features/apiUserLDAP/serverConnection.feature
  tests/acceptance/features/apiUserLDAP/sharingLocalUserLdapUser.feature
  tests/acceptance/features/cliProvisioning/users.feature
  tests/acceptance/features/webUIProvisioning/groups.feature
  tests/acceptance/features/webUIProvisioning/users.feature
  tests/acceptance/features/webUIUserLDAP/avatar.feature
  tests/acceptance/features/webUIUserLDAP/changingDisplayName.feature
  tests/acceptance/features/webUIUserLDAP/changingPassword.feature
  tests/acceptance/features/webUIUserLDAP/paging.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#568 Use realistic usernames
  tests/acceptance/features/apiProvisioningLDAP/groups.feature
  tests/acceptance/features/apiProvisioningLDAP/userSync.feature
  tests/acceptance/features/apiProvisioningLDAP/users.feature
  tests/acceptance/features/apiUserLDAP/backupServerConnection.feature
  tests/acceptance/features/apiUserLDAP/groupFilter.feature
  tests/acceptance/features/apiUserLDAP/moveUser.feature
  tests/acceptance/features/apiUserLDAP/serverConnection.feature
  tests/acceptance/features/apiUserLDAP/sharingLocalUserLdapUser.feature
  tests/acceptance/features/cliProvisioning/groups.feature
  tests/acceptance/features/cliProvisioning/userSync.feature
  tests/acceptance/features/cliProvisioning/users.feature
  tests/acceptance/features/webUIProvisioning/groups.feature
  tests/acceptance/features/webUIProvisioning/users.feature
  tests/acceptance/features/webUIUserLDAP/avatar.feature
  tests/acceptance/features/webUIUserLDAP/changingDisplayName.feature
  tests/acceptance/features/webUIUserLDAP/changingPassword.feature
  tests/acceptance/features/webUIUserLDAP/groupMembership.feature
  tests/acceptance/features/webUIUserLDAP/loginUsingEmailAddress.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests
