Repository owncloud/user_ldap, pull requests merged in 2020-03, with the labels that each got.

#490 Allow plus in LDAP usernames
  appinfo/info.xml
  lib/Access.php
  templates/settings.php
  tests/unit/AccessTest.php
Labels: 3 - To Review

#532 Pin behat/mink to 1.7.1 and update other acceptance test dependencies
  vendor-bin/behat/composer.json
Labels: 3 - To Review, QA-team, dev:acceptance-tests

#529 [Tests-only]Fix core test run structure in drone
  .drone.starlark
  .drone.yml
  Makefile
  tests/acceptance/config/behat.yml
Labels: 4 - To release, Drone, QA-team

#533 [Tests-Only] merge api tests for LDAP into a single suite
  .drone.starlark
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiUserLDAP/backupServerConnection.feature
  tests/acceptance/features/apiUserLDAP/groupFilter.feature
  tests/acceptance/features/apiUserLDAP/serverConnection.feature
  tests/acceptance/features/apiUserLDAP/sharingLocalUserLdapUser.feature
Labels: 3 - To Review, QA-team, dev:acceptance-tests
